span.sample1 {
    color: red;
    background-color: lime;
}
span.sample2 {
    color: #FF0000;
    background-color: #00ff00;
}
span.sample3 {
    color: RGB(255,0,0);
    background-color: RGB(0,255,0);
}
span.sample4 {
    color:RGBa(255,0,0,0.5);
    background-color: RGBa(0,255,0,0.5);
}
span.sample5 {
    color: hsl(0,100%,50%);
    background-color: hsl(120,100%,50%);
}
span.sample6 {
    color: hsla(0,100%,50%,0.5);
    background-color: hsla(120,100%,50%,0.5);
}
span.sample7 {
    color: RGB(100%,0%,0%);
    background-color: RGB(0%,100%,0%);
}
